@import "fonts";
@import "fontello";

$success-color: #57a479;
$alert-color: #c84b42;
$color-inverse-bg: #131516;
$color-main-text: #131516;
$color-gray-dark: #373d40;
$color-gray-dark-light: #4d5458;
$color-gray-semidark: #81888e;
$color-gray-muted: #9fa7af;
$color-gray-normal: #e6e6e6;
$color-sub-gray: #efefef;
$color-gray-semi-light: #f6f6f6;
$color-gray-light: #fafafa;
$color-main: #4d91b1;
$color-main-active: darken($color-main, 10%);
$color-main-light: lighten($color-main, 10%);
$color-primary: $color-main;
$color-secondary: $color-gray-muted;

html, body {
  height: 100%;
}
#main {
//  min-width: 1000px;
}
.admnavigation {
  background: #f0f0f0 none repeat scroll 0 0;
  min-height: 100%;
  box-shadow: 0 0 10px rgba(10, 10, 10, 0.5);
}
.admcontent {
  padding: 1em 30px;
  input[type="text"], select {
    display: block;
  }
  input[type="number"], input[type="date"], input[type="date-local"] {
    width: 20%;
    padding: 4px;
    display: block;
  }
  input[type="file"] {
    display: block;
  }
  @media only screen and (min-device-width : 1200px) {
    input[type="text"], input[type="file"], select {
      //width: 50%;
    }
    textarea {
      //width: 50%;
    }
  }
}

div.tbltitle {
  font-weight: bold;
  border-bottom: #bfbfbf solid 1px;
}
.tbl div.row {
  &:nth-child(even) {
    background: #f9f9f9;
  }
  div.columns {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}

.btn.tiny {
  letter-spacing: normal;
  padding: 0.2rem;
}
.button.medium {
  margin: 0 0 0 40px;
  font-size: 0.9rem;
  letter-spacing: normal;
  padding: 8px 12px;
}
.button.success {
  background-color: $success-color;
}
.button.alert {
  background-color: $alert-color;
}
#dialog-confirm {
  display: none;
}
#delrecname {
  color: $success-color;
}
.dialog-message {
  color: $alert-color;
}
.ui-icon-alert {
  float: left;
  margin: 4px 12px 6px 0 !important;
}

button {
  &:active {
    background-color: transparent!important;
    color: gray!important;
    border: none!important;
  }
}
.form-control:focus {
  border-color: #9ac8e5;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(86, 162, 198, 0.6);
}
select {
  padding: 0.35rem 0.1rem;
}

.btn {
  cursor: pointer;
}
.btn-primary {
  color: White;
  background-color: $color-main;
  border-color: $color-main;
  &:hover, &:active {
    background-color: $color-main-light!important;
    border-color: $color-main-light!important;
  }
  &.active {
    background-color: $color-main-active!important;
    border-color: darken($color-main-active, 5%) !important;
  }
}
.btn-secondary {
  background-color: $color-gray-semidark;
  border-color: $color-gray-semidark;
  &:hover, &:active {
    border-color: $color-gray-muted;
    background-color: $color-gray-muted!important;
  }
}
.btn-outline-info {
  color: $color-main !important;
  &:hover {
    color: white !important;
  }
}
.btn-outline-primary {
  color: $color-main !important;
  border-color: $color-main !important;
  background-color: transparent!important;
  font-size: 1.1rem;
  &:hover,
  &:focus,
  &:active {
    border-color: $color-main-active!important;
    color: white!important;
    background-color: $color-main-active!important;
    box-shadow: none!important;
  }
}
a {
  color: $color-main;
  &:hover {
    border-color: $color-main-light;
  }
}
button:focus {
  outline: 0;
}

.no-wrap {
  white-space: nowrap;
}

.chosen-container {
  display: block;
}
.chosen-choices {
  height: 2.2rem!important;
}


/* dataTable */
.table {
  border-bottom: 2px solid $color-gray-muted;
  .table-striped > tbody > tr:nth-child(even) > td {
    background-color: $color-gray-semi-light;
  }
  .table-striped > tbody > tr:nth-child(odd) > td {
    background-color: white;
  }
  .table-dark th {
    border-color: $color-gray-normal;
    background-color: $color-gray-muted;
    white-space: nowrap;
  }
  th, td {
    vertical-align: middle;
  }
  td {
    padding: .5rem .75rem;
  }
}

div.dataTables_length, div.dataTables_filter, div.dataTables_info {
  label {
    color: $color-gray-semidark;
  }
}
div.dataTables_info {
    color: $color-gray-semidark;
}
.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: $color-gray-muted;
  border-color: $color-gray-muted;
}
.page-link {
  color: $color-main-active;
}

#datable {
  tfoot {
    display: table-header-group; // перемещаем футер с поиском в блок хэдера
    th, select {
      padding-top: 0.15rem;
      padding-bottom: 0.15rem;
    }
    select {
      min-width: 200px;
      max-width: 60%;
    }
  }
  thead {
    background-color: lighten($color-main, 40%);
    & > tr > th.dt-orderable-asc:hover, & > tr > th.dt-orderable-desc:hover {
      outline: none;
      background-color: lighten($color-main, 36%) !important;
    }
  }
  a {
    text-decoration: none;
    color: darken($color-primary, 15%);
    &:hover {
      color: $color-primary;
    }
  }
  &.table-striped > tbody > tr:nth-of-type(2n+1) > * {
    box-shadow: none;
    background-color: lighten($color-sub-gray, 2%);
  }
  &.table-striped > tbody > tr:nth-of-type(2n) > * {
    background-color:  lighten($color-gray-light, 2%);
  }
  tbody {
    tr {
      border-color: transparent;
    }
  }
}

.btn-secondary {
  color: white;
}

.btn-sm {
  font-size: 0.9rem;
  padding: 2px 6px;
}

img.thumbnail {
  width: 150px;
  height: auto;
}

.border-secondary {
  border-color: $color-sub-gray!important;
}
.form-check-input:checked {
  background-color: $color-primary;
  border-color: $color-primary;
}

h1 {
  color: $color-gray-dark-light;
}
